/* main page styles */
body.body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  margin: 0;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
/*
a.feature_raised[href]:hover    {color:orange; text-decoration: underline;   }
a.feature_raised[href]:link     {color:orange; text-decoration: none;        }
a.feature_raised[href]          {color:orange; text-decoration: none;        }
a.feature_open[href]:hover      {color:green;  text-decoration: underline;   }
a.feature_open[href]:link       {color:green;  text-decoration: none;        }
a.feature_open[href]            {color:green;  text-decoration: none;        }
a.feature_completed[href]:hover {color:blue;   text-decoration: underline;   }
a.feature_completed[href]:link  {color:blue;   text-decoration: line-through;}
a.feature_completed[href]       {color:blue;   text-decoration: line-through;}
a.feature_rejected[href]:hover  {color:red;    text-decoration: underline;   }
a.feature_rejected[href]:link   {color:red;    text-decoration: line-through;}
a.feature_rejected[href]        {color:red;    text-decoration: line-through;}
a.feature_suspended[href]:hover {color:blue;   text-decoration: underline;   }
a.feature_suspended[href]:link  {color:blue;   text-decoration: line-through;}
a.feature_suspended[href]       {color:blue;   text-decoration: line-through;}
*/

a.feature_raised_[href]                {color:orange;  text-decoration: none;        }
a.feature_open_[href]                  {color:green;   text-decoration: none;        }
a.feature_completed_[href]             {color:blue;    text-decoration: line-through;}
a.feature_rejected_[href]              {color:red;     text-decoration: line-through;}
a.feature_suspended_[href]             {color:blue;    text-decoration: line-through;}

a.task_issued[href]                   {color:orange;  text-decoration: none;        }
a.task_issued_[href]                  {color:orange;  text-decoration: none;        }
a.task_issued_Yes[href]               {color:orange;  text-decoration: none;        }
a.task_issued_No[href]                {color:orange;  text-decoration: none;        }
a.task_started[href]                  {color:green;   text-decoration: none;        }
a.task_started_[href]                 {color:green;   text-decoration: none;        }
a.task_started_Yes[href]              {color:green;   text-decoration: none;        }
a.task_started_No[href]               {color:green;   text-decoration: none;        }
a.task_available[href]                {color:green;   text-decoration: none;        }
a.task_available_[href]               {color:green;   text-decoration: none;        }
a.task_available_Yes[href]            {color:green;   text-decoration: none;        }
a.task_available_No[href]             {color:green;   text-decoration: none;        }
a.task_accepted[href]                 {color:blue;    text-decoration: line-through;}
a.task_accepted_[href]                {color:blue;    text-decoration: line-through;}
a.task_accepted_Yes[href]             {color:blue;    text-decoration: line-through;}
a.task_accepted_No[href]              {color:blue;    text-decoration: blink;       }
a.task_accepted-but-defects[href]     {color:red;     text-decoration: line-through;}
a.task_accepted-but-defects_[href]    {color:red;     text-decoration: line-through;}
a.task_accepted-but-defects_Yes[href] {color:red;     text-decoration: line-through;}
a.task_accepted-but-defects_No[href]  {color:red;     text-decoration: blink;       }
a.task_suspended[href]                {color:blue;    text-decoration: line-through;}
a.task_suspended_[href]               {color:blue;    text-decoration: line-through;}
a.task_suspended_Yes[href]            {color:blue;    text-decoration: line-through;}
a.task_suspended_No[href]             {color:blue;    text-decoration: line-through;}
a.task_closed-obsolete[href]          {color:blue;    text-decoration: line-through;}
a.task_closed-obsolete_[href]         {color:blue;    text-decoration: line-through;}
a.task_closed-obsolete_Yes[href]      {color:blue;    text-decoration: line-through;}
a.task_closed-obsolete_No[href]       {color:blue;    text-decoration: line-through;}


a.defect_assigned_[href]               {color:orange;  text-decoration: none;        }
a.defect_analyzed_[href]               {color:brown;   text-decoration: none;        }
a.defect_implemented_[href]            {color:green;   text-decoration: none;        }
a.defect_resolved_[href]               {color:blue;    text-decoration: none;        }
a.defect_closed_[href]                 {color:blue;    text-decoration: line-through;}
a.defect_closed-duplicate_[href]       {color:blue;    text-decoration: line-through;}
a.defect_closed-mistaken_[href]        {color:blue;    text-decoration: line-through;}
a.defect_closed-rejected_[href]        {color:blue;    text-decoration: line-through;}
a.defect_suspended_[href]              {color:blue;    text-decoration: line-through;}

/* old stuff
a.open[href]:hover      { color:red; text-decoration: underline; }
a.open[href]:link       { color:red; text-decoration: none; }
a.open[href]            { color:red; text-decoration: none; }
a.feedback[href]:hover  { color:red; text-decoration: underline; }
a.feedback[href]:link   { color:red; text-decoration: none; }
a.feedback[href]        { color:red; text-decoration: none; }
a.analyzed[href]:hover  { color:red; text-decoration: underline; }
a.analyzed[href]:link   { color:red; text-decoration: none; }
a.analyzed[href]        { color:red; text-decoration: none; }
a.testing[href]:hover   { color:green; text-decoration: underline; }
a.testing[href]:link    { color:green; text-decoration: none; }
a.testing[href]         { color:green; text-decoration: none; }
a.suspended[href]:hover { color:blue; text-decoration: line-through; }
a.suspended[href]:link  { color:blue; text-decoration: line-through; }
a.suspended[href]       { color:blue; text-decoration: line-through; }
a.closed[href]:hover    { color:blue; text-decoration: line-through; }
a.closed[href]:link     { color:blue; text-decoration: line-through; }
a.closed[href]          { color:blue; text-decoration: line-through; }
*/

table.body {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

td.page-header-left {
  padding: 5px;
  border-bottom: 1px solid #444;
}
td.sidebar {
  padding: 1px 0 0 1px;
  white-space: nowrap;
}

/* don't display the sidebar when printing */
@media print {
    td.page-header-left {
        display: none;
    }
    td.sidebar {
        display: none;
    }
    .index-controls {
        display: none;
    }
}

td.page-header-top {
  padding: 5px;
  border-bottom: 1px solid #444;
}

form {
  margin: 0;
}

textarea {
    font-family: monospace;
}

td.sidebar p.classblock {
  padding: 2px 5px 2px 5px;
  margin: 1px;
  border: 1px solid #444;
  background-color: #eee;
}

td.sidebar span.classblock {
  padding: 0px 5px 0px 5px;
  margin: 1px 1px 1px 1px;
  border: 1px solid #444444;
  background-color: #eee;
}

td.sidebar p.userblock {
  padding: 2px 5px 2px 5px;
  margin: 1px 1px 1px 1px;
  border: 1px solid #444;
  background-color: #eef;
}

td.content {
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  width: 100%;
}

td.date, th.date {
  white-space: nowrap;
}

p.ok-message {
  background-color: #22bb22;
  padding: 5px;
  color: white;
  font-weight: bold;
}
p.error-message {
  background-color: #bb2222;
  padding: 5px;
  color: white;
  font-weight: bold;
}


/* style for search forms */
ul.search-checkboxes {
    display: inline;
    padding: none;
    list-style: none;
}
ul.search-checkboxes > li {
    display: inline;
    padding-right: .5em;
}


/* style for forms */
table.form {
  padding: 2px;
  border-spacing: 0;
  border-collapse: separate;
}

table.form th {
  color: #338;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
}

table.form th.header {
  font-weight: bold;
  background-color: #eef;
  text-align: left;
}

table.form th.required {
  font-weight: bold;
}

table.form td {
  color: #333;
  empty-cells: show;
  vertical-align: top;
//  font-size: smaller;
}

table.form td.optional {
  font-weight: bold;
  font-style: italic;
}

table.form td.test_ok {
  background-color: #22bb22;
  color: white;
  font-weight: bold;
}

table.form td.test_failed {
  background-color: #bb2222;
  color: white;
  font-weight: bold;
  text-decoration: blink;
}

table.form td.task_list {
  font-size: smaller;
}

table.form td.html {
  color: #777;
}

table.calendar {
  background-color: #eee;
  border-collapse: collapse;
}

/* style for calendar */
table.calendar_nav {
  border: 1px solid #444;
  background-color: #eee;
  font-weight: bold;
}

table.calendar_display {
  border: 1px solid #444;
  empty-cells: show;
}

table.calendar_display td {
  text-align: center;
}

table.calendar_display tr.weekdays {
  text-align: center;
  font-weight: bold;
}

table.calendar td.today {
  background-color: #ecc;
}

/* style for lists */
table.list {
  border-spacing: 0;
  border-collapse: separate;
/*  width: 100%; */
}

table.list th {
  padding: 0 4px 0 4px;
  color: #404070;
  background-color: #eef;
/*  border: 1px solid white; */

  border-right: 1px solid #404070;
  border-top: 1px solid #404070;
  border-bottom: 1px solid #404070;

  vertical-align: top;
  empty-cells: show;
}
table.list th a[href]:hover { color: #404070 }
table.list th a[href]:link { color: #404070 }
table.list th a[href] { color: #404070 }
table.list th.group {
  background-color: #f4f4ff;
  text-align: center;
}

table.list td {
  padding: 0 4px 0 4px;
/*  border: 1px solid white; */

  border: 0 2 0 2;
  border-right: 1px solid #404070;

  color: #404070;
  background-color: #efefef;
  vertical-align: top;
  empty-cells: show;
}

table.list tr.navigation th {
  width: 33%;
  border-style: hidden;
  text-align: center;
}

table.list tr.navigation td {
    border: none
}
table.list tr.navigation th:first-child {
  text-align: left;
}
table.list tr.navigation th:last-child {
  text-align: right;
}


/* style for message displays */
table.messages {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.messages th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.messages th {
  font-weight: bold;
  color: black;
  text-align: left;
  border-bottom: 1px solid #afafaf;
}

table.messages td {
  font-family: monospace;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  color: black;
  empty-cells: show;
  border-right: 1px solid #afafaf;
  vertical-align: top;
  padding: 2px 5px 2px 5px;
}

table.messages td:first-child {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* style for file displays */
table.files {
  border-spacing: 0;
  border-collapse: separate;
//  width: 100%;
}

table.files th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.files th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.files td {
  font-family: monospace;
  empty-cells: show;
}

/* style for task displays */
table.tasks {
  border-spacing: 0;
  border-collapse: separate;
//  border: thin solid #0066FF;
//  width: 100%;
}

table.tasks th.header{
//  padding-top: 10px;
//  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  font-size: smaller;
//  border: thin solid #0066FF;
//  background-color: #0099FF;
}

table.tasks th {
  font-weight: bold;
  text-align: left;
}

table.tasks td {
  font-family: monospace;
  empty-cells: show;
}

/* style for milestone displays */
table.milestones {
  border-spacing: 0;
  border-collapse: separate;
//  width: 100%;
  font-size: smaller;
}

table.milestones th.header{
//  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  text-align: center;
}

table.milestones th {
  font-weight: bold;
  text-align: center;
}

table.milestones td {

  font-family: monospace;
  empty-cells: show;
  text-align: right;
}

table.milestones td.delta_plus {
  font-weight: bold;
  color: #e00000;
  font-family: monospace;
  empty-cells: show;
  text-align: right;
}

table.milestones td.delta_minus{
//  font-weight: bold;
  color: #00e000;
  font-family: monospace;
  empty-cells: show;
  text-align: right;
}

/* style for history displays */
table.history {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.history th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  font-size: 100%;
}

table.history th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
  font-size: 90%;
}

table.history td {
  font-size: 90%;
  vertical-align: top;
  empty-cells: show;
}


/* style for class list */
table.classlist {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.classlist th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.classlist th {
  font-weight: bold;
  text-align: left;
}


/* style for class help display */
table.classhelp {      /* the table-layout: fixed;        */
  table-layout: fixed; /* compromises quality for speed   */
  overflow: hidden;
  font-size: .9em;
  padding-bottom: 3em;
}

table.classhelp th {
  font-weight: normal;
  text-align: left;
  color: #444;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  text-transform: uppercase;
  vertical-align: middle;
  line-height:1.5em;
}

table.classhelp td {
  vertical-align: middle;
  padding-right: .2em;
  border-bottom: 1px solid #efefef;
  text-align: left;
  empty-cells: show;
  white-space: nowrap;
  vertical-align: middle;
}

table.classhelp tr:hover {
  background-color: #eee;
}

label.classhelp-label {
  cursor: pointer;
}

#classhelp-controls {
  position: fixed;
  display: block;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em;
  border-top: 2px solid #444;
  background-color: #eee;
}

#classhelp-controls input.apply {
  width: 7em;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;
}

#classhelp-controls input.preview {
   margin-right: 3em;
   margin-left: 1em;
}

/* style for "other" displays */
table.otherinfo {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.otherinfo th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.otherinfo th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}
