[ldap]
uri      = ldap://ldap02.example.com:389
bind_dn  = CN=system roundup-ldap,OU=users,OU=vie,OU=ttt,DC=ds1,DC=internal
password = geheim
base_dn  = OU=company,DC=ds1,DC=internal
update_ldap    = False
update_roundup = True
ad_domains     = ds1.internal
no_starttls    = False
allowed_dn_suffix = OU=SOME-OU,DC=example,DC=com:OU=OTHER-OU,DC=example,DC=com
do_not_sync_roundup_properties = nickname
do_not_sync_ldap_properties = cn
user_html_template_update_roundup = False

[imap]
#host = example.net
##port is default

[limit]
picture_size      = 10k
file_size         = 100k
effort            = 8
picture_sync_size = 10k

[ttt]
freeze_days = 0

[link]
minid = 6
maxid = 6
issue_url_template = https://issue-tracker.vie.at.tttech.ttt/ttt/issue%s
pr_manual = https://example.com/pr-manual.pdf
aux_links = PGroups+https://example.com/another-link;Nocheiner+https://example.com/nocheiner

[mail]
# name and address of sender of outgoing emails
sender_name = Do not reply
sender_addr = no-reply@example.com
# Multi-line text: Continuation lines must be indented. If percent
# interpolation is desired the percent sign must be substituted by a
# dollar sign.

# On approval of all leave types
leave_notify_email = office@example.com
leave_notify_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s accepted
leave_notify_text  = Dear member of the Office Team,
 the user $(firstname)s $(lastname)s has approved $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please add this information to the time table,
 $(nl)s
 many thanks!

# On cancel of all leave types
leave_cancel_email = office@example.com
leave_cancel_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s cancelled
leave_cancel_text  = Dear member of the Office Team,
 the user $(firstname)s $(lastname)s has cancelled $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please remove this information from the time table,
 $(nl)s
 many thanks!

# On approval of special leave
special_leave_notify_email = hr-admin@example.com
special_leave_notify_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s accepted
special_leave_notify_text  = Dear member of HR Admin,
 the user $(firstname)s $(lastname)s has approved $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please put it into the paid absence data sheet,
 $(nl)s
 many thanks!

# On cancel of special leave
special_leave_cancel_email = hr-admin@example.com
special_leave_cancel_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s cancelled
special_leave_cancel_text  = Dear member of HR Admin,
 the user $(firstname)s $(lastname)s has cancelled $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please remove it from the paid absence data sheet,
 $(nl)s
 many thanks!
 This is an automatically generated message.
 Responses to this address are not possible.

# To supervisor (or delegate) on submission
leave_supervisor_submit_subject =
 Leave request "$(tp_name)s/$(wp_name)s" $(first_day)s to $(last_day)s
 from $(firstname)s $(lastname)s
leave_supervisor_submit_text =
 $(firstname)s $(lastname)s has submitted a leave request
 "$(tp_name)s/$(wp_name)s".
 Comment from user: $(comment)s
 $(approval_type)s
 $(url)s
 Many thanks!
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.
leave_supervisor_submit_approve_hr = Needs approval by HR.
leave_supervisor_submit_approve_sv = Please approve or decline at

# To supervisor (or delegate) on cancel request
leave_supervisor_crq_subject =
 Cancel request "$(tp_name)s/$(wp_name)s" $(first_day)s to $(last_day)s
 from $(firstname)s $(lastname)s
leave_supervisor_crq_text =
 $(firstname)s $(lastname)s has submitted a cancel request
 "$(tp_name)s/$(wp_name)s" from $(first_day)s to $(last_day)s.
 Comment from user: $(comment_cancel)s
 $(approval_type)s
 $(url)s
 Many thanks!
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.
leave_supervisor_crq_approve_hr = Needs approval by HR.
leave_supervisor_crq_approve_sv = Please approve or decline at


# To user on submission (!) of special leave
special_leave_user_subject = Your Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s
special_leave_user_text = Dear $(firstname)s $(lastname)s,
 $(nl)s
 please don't forget to submit written documentation for your special
 leave $(tp_name)s/$(wp_name)s from $(first_day)s to $(last_day)s to HR,
 according to our processes.
 Eg. marriage certificate, new residence registration (Meldezettel),
 birth certificate for new child, death notice letter (Parte).
 $(nl)s
 Many thanks!

# To user on acceptance of leave request
leave_user_accept_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s to $(last_day)s accepted
leave_user_accept_text =
 Your absence request "$(tp_name)s/$(wp_name)s" has been accepted.
 $(deleted_records)s
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.
leave_user_accept_recs_text =
 The following existing time records have been deleted:

# To user on decline of leave request
leave_user_decline_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s to $(last_day)s declined
leave_user_decline_text =
 Your absence request "$(tp_name)s/$(wp_name)s" has been declined.
 Please contact your supervisor.
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.

# To user if cancel request was granted
leave_user_cancelled_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s to $(last_day)s cancelled
leave_user_cancelled_text =
 Your cancel request "$(tp_name)s/$(wp_name)s"
 from $(first_day)s to $(last_day)s was granted.
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.

# To user if cancel request was *not* granted
leave_user_not_cancelled_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s to $(last_day)s not cancelled
leave_user_not_cancelled_text =
 Your cancel request "$(tp_name)s/$(wp_name)s" was not granted.
 Please contact your supervisor.
 $(nl)s
 This is an automatically generated message.
 Responses to this address are not possible.

# Approval of purchase requests: automatic text
pr_approval_text  = The purchase request "$(title)s"
 needs to be approved by $(user_or_role)s.
 many thanks!

pr_approved_text  = The purchase request "$(title)s" has been approved.
 many thanks!

las_text = In purchase request "$(title)s"
 there is a request to add Supplier "$(supplier)s" to the LAS.
 This was requested by $(realname)s <$(address)s>.
 See $(url)spurchase_request$(prid)s

las_subject = 'Add to LAS Request'

las_email = supplier_approval@example.com

[mailgw]
spam_pattern = ^[[].?S[pP][aA][mM]
support_from = support@tttech.com

[logging]
it_issue_template = $(classname)s$(id)s: Request-Type: $(it_request_type.name)s Category: $(category.name)s Title: $(title)s

[match]
artefact=^http

[misc]
create_nickname=False
