[ldap]
uri      = ldap://ldap02.example.com:389
bind_dn  = CN=system roundup-ldap,OU=users,OU=vie,OU=ttt,DC=ds1,DC=internal
password = geheim
base_dn  = OU=company,DC=ds1,DC=internal
update_ldap    = False
update_roundup = True

[imap]
#host = example.net
##port is default

[limit]
picture_size = 10k
file_size    = 100k

[ttt]
freeze_days = 0

[mail]
# Multi-line text: Continuation lines must be indented. If percent
# interpolation is desired the percent sign must be substituted by a
# dollar sign.

# On approval of all leave types
leave_notify_email = office@example.com
leave_notify_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s accepted
leave_notify_text  = Dear member of the Office Team,
 the user $(firstname)s $(lastname)s has approved $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please add this information to the time table,
 $(nl)s
 many thanks!

# On approval of special leave
special_leave_notify_email = hr-admin@example.com
special_leave_notify_subject = Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s accepted
special_leave_notify_text  = Dear member of HR Admin,
 the user $(firstname)s $(lastname)s has approved $(tp_name)s/$(wp_name)s
 from $(first_day)s to $(last_day)s.
 Please put it into the paid absence data sheet,
 $(nl)s
 many thanks!

# On submission (!)
special_leave_user_subject = Your Leave "$(tp_name)s/$(wp_name)s"
 $(first_day)s-$(last_day)s
special_leave_user_text = Dear $(firstname)s $(lastname)s,
 $(nl)s
 please don't forget to submit written documentation for your special
 leave $(tp_name)s/$(wp_name)s from $(first_day)s to $(last_day)s to HR,
 according to our processes.
 Eg. marriage certificate, new residence registration (Meldezettel),
 birth certificate for new child, death notice letter (Parte).
 $(nl)s
 Many thanks!
