_generic.404.html
_generic.item.html
customer.index.html
customer.item.html
device.item.html
device_group.item.html
measurement.index.html
person.index.html
person.item.html
sensor.index.html
sensor.item.html
userlist.html
ext_tracker_state.ext_attr.html
