/* main page styles */
body.body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  margin: 0;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover { color:blue; text-decoration: underline; }
a[href]:link  { color:blue; text-decoration: none; }
a[href]       { color:blue; text-decoration: none; }

a.closed[href]:hover, table.form td a.closed[href]:hover
    { color:green; text-decoration: underline; }
a.closed[href]:link, a.closed[href],
  table.form td a.closed[href]:link, table.form td a.closed[href]
    { color:green; text-decoration: none; }
a.analyzed[href]:hover, table.form td a.analyzed[href]:hover
    { color:red;   text-decoration: underline; }
a.analyzed[href]:link, a.analyzed[href],
  table.form td a.analyzed[href]:link, table.form td a.analyzed[href]
    { color:red;   text-decoration: none; }
a.feedback[href]:hover, table.form td a.feedback[href]:hover,
  table.form td a.feedback[href]:hover,
  table.form td table.form td a.feedback[href]:hover
    { color:red;   text-decoration: underline; }
a.feedback[href]:link, a.feedback[href],
  table.form td a.feedback[href]:link, table.form td a.feedback[href]
    { color:red;   text-decoration: none; }
a.open[href]:hover, table.form td a.open[href]:hover
    { color:red;   text-decoration: underline; }
a.open[href]:link, a.open[href],
  table.form td a.open[href]:link, table.form td a.open[href]
    { color:red;   text-decoration: none; }
a.testing[href]:hover, table.form td a.testing[href]:hover
    { color:green; text-decoration: underline; }
a.testing[href]:link, a.testing[href],
  table.form td a.testing[href]:link, table.form td a.testing[href]
    { color:green; text-decoration: none; }
a.suspended[href]:hover, table.form td a.suspended[href]:hover
    { color:blue;  text-decoration: line-through; }
a.suspended[href]:link, a.suspended[href],
  table.form td a.suspended[href]:link, table.form td a.suspended[href]
    { color:blue;  text-decoration: line-through; }

a.run[href]:hover, table.form td a.run[href]:hover
    { color:green; text-decoration: underline; }
a.run[href]:link, a.run[href],
  table.form td a.run[href]:link, table.form td a.run[href]
    { color:green; text-decoration: none; }
a.canc[href]:hover, table.form td a.canc[href]:hover
    { color:blue;  text-decoration: underline; }
a.canc[href]:link, a.canc[href],
  table.form td a.canc[href]:link, table.form td a.canc[href]
    { color:blue;  text-decoration: none; }

table.body {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

td.page-header-left {
  padding: 5px;
  border-bottom: 1px solid #444;
}
td.sidebar {
  padding: 1px 0 0 1px;
  white-space: nowrap;
}

/* don't display the sidebar when printing */
@media print {
    td.page-header-left {
        display: none;
    }
    td.sidebar {
        display: none;
    }
    .index-controls {
        display: none;
    }
}

td.page-header-top {
  padding: 5px;
  border-bottom: 1px solid #444;
}

form {
  margin: 0;
}

textarea {
    font-family: monospace;
}

td.sidebar p.classblock {
  padding: 2px 5px 2px 5px;
  margin: 1px;
  border: 1px solid #444;
  background-color: #eee;
}

td.sidebar span.classblock {
  padding: 0px 5px 0px 5px;
  margin: 1px 1px 1px 1px;
  border: 1px solid #444444;
  background-color: #eee;
}

td.sidebar span.danger {
  padding: 0px 5px 0px 5px;
  margin: 1px 1px 1px 1px;
  border: 1px solid #444444;
  background-color: #eee;
}

td.sidebar span.danger a {
  color: red;
}

td.sidebar p.userblock {
  padding: 2px 5px 2px 5px;
  margin: 1px 1px 1px 1px;
  border: 1px solid #444;
  background-color: #eef;
}

td.content {
  padding: 1px 5px 1px 5px;
  vertical-align: top;
  width: 100%;
}

td.date, th.date {
  white-space: nowrap;
}


p.ok-message {
  background-color: #22bb22;
  padding: 0px;
  color: white;
  font-weight: bold;
}
p.error-message {
  background-color: #bb2222;
  padding: 0px;
  color: white;
  font-weight: bold;
}


/* style for search forms */
ul.search-checkboxes {
    display: inline;
    padding: 0px;
    list-style: none;
}
ul.search-checkboxes > li {
    display: inline;
    padding-right: .5em;
}


table.searchform th a[href]:hover.header { color: #333 }
table.searchform th a[href]:link.header  { color: #333 }
table.searchform th a[href].header       { color: #333 }

table.searchform {
    background-color: #e0c0c0;
}
table.searchform th.main {
    background-color: #C08080;
    visibility: visible;
}
form.unmapped tr {
    visibility: collapse;
}
form.unmapped td {
    visibility: collapse;
}
form.unmapped th {
    visibility: collapse;
}
form.unmapped table.searchform tr:first-child {
    visibility: visible;
}
table.searchform th div {
    background: url(lfiles/images/collapse_gray_down.png) no-repeat left top;
    width: 12px;
    height: 12px;
    display: inline;
    border: 1px solid #CCC;
    position: absolute;
    left: 4px;
}
form.unmapped table.searchform th div {
    background: url(lfiles/images/collapse_gray_right.png) no-repeat left top;
    visibility: visible;
}

/* style for forms */
table.form {
  padding: 2px;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: top;
  border: 0;
}

table.form th {
  color: #338;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
}

table.form th a:link {
  color: #338;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
}

table.form th a[href]:hover { color: #338 }
table.form th a[href]:link  { color: #338 }
table.form th a[href]       { color: #338 }

table.form td a:link {
  color: #338;
  text-align: right;
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
}

table.form td.number {
  text-align: right;
}

table.form td a[href]:hover { color: #338 }
table.form td a[href]:link  { color: #338 }
table.form td a[href]       { color: #338 }

table.form span.help a[href]:hover { color: #338 }
table.form span.help a[href]:link  { color: #338 }
table.form span.help a[href]       { color: #338 }

table.form th.header {
  font-weight: bold;
  background-color: #eef;
  text-align: left;
}

table.form th.required {
  font-weight: bold;
}

table.form th.required a {
  font-weight: bold;
}

table.form tr {
  vertical-align: top;
}

table.form td {
  color: #333;
  empty-cells: show;
  vertical-align: top;
  padding-right: 1em;
}

table.form td.optional {
  font-weight: bold;
  font-style: italic;
}

table.form td.html {
  color: #777;
}

table.rule tbody tr:first-child td {
  padding-top: 1em;
  border-top:    1px solid #338;
}

table.rule tbody tr:last-child td {
  padding-bottom: 1em;
  border-bottom: 1px solid #338;
}

table.rule tbody tr:first-child th {
  padding-top: 1em;
  border-top:    1px solid #338;
}

table.rule tbody tr:last-child th {
  padding-bottom: 1em;
  border-bottom: 1px solid #338;
}

/* usage for explicit rules: <tr class="rule"><td colspan="4" /></tr> */
table.form tr.rule td {
  border-style:  solid;
  border-top:    1px solid #338;
  border-bottom: 1px solid #338;
}

table.form a.header {
  color: #338;
}

/* style for lists */
table.list {
  border-spacing: 0;
  border-collapse: separate;
/*  width: 100%; */
}

table.list th {
  padding: 0 4px 0 4px;
  color: #404070;
  background-color: #eef;
/*  border: 1px solid white; */

  border-right: 1px solid #404070;
  border-top: 1px solid #404070;
  border-bottom: 1px solid #404070;

  vertical-align: top;
  empty-cells: show;
}
table.list th a[href]:hover { color: #404070 }
table.list th a[href]:link  { color: #404070 }
table.list th a[href]       { color: #404070 }
table.list th.group {
  background-color: #f4f4ff;
  text-align: center;
}
table.list th.nb {
  border-right: 0
}
table.list th.emphasized {
  color: green;
}

table.list th.emphasized a[href]:hover {color: green;}
table.list th.emphasized a[href]:link  {color: green;}
table.list th.emphasized a[href]       {color: green;}

table.list td {
  padding: 0 4px 0 4px;
  /* border: 1px solid white; */
  border-right: 1px solid #404070;

  color: #404070;
  background-color: #efefef;
  vertical-align: top;
  empty-cells: show;
}

table.list td.subhead {
  font-weight: bold;
}

table.list td.subhead-nb {
  font-weight: bold;
  border-right: 0
}

table.list td.nb {
  border-right: 0
}

table.list td.generated input {
  color: #008000;
}

table.list td.generatedstart input {
  color: #008000;
}

table.list td.generatedend input {
  color: #008000;
}

table.list td.generatedstart {
  border-right: 0;
  text-align: left;
}

table.list td.generatedend {
  text-align: right;
}

table.list td.start {
  border-right: 0;
  text-align: left;
}

table.list td.end {
  text-align: right;
}

table.list td.missing {
  background-color: yellow;
}

table.list td.travel {
  background-color: yellowgreen;
}

table.list tr.time-nav th {
  border-style: hidden;
  text-align: center;
}
table.list tr.time-nav td {
    border: none
}
table.list tr.time-nav th:first-child {
  text-align: left;
}
table.list tr.time-nav th:last-child {
  text-align: right;
}

table.list tr.navigation th {
  width: 33%;
  border-style: hidden;
  text-align: center;
}
table.list tr.navigation td {
    border: none
}
table.list tr.navigation th:first-child {
  text-align: left;
}
table.list tr.navigation th:last-child {
  text-align: right;
}

table.list td a[href]:hover.header { color: #404070 }
table.list td a[href]:link.header  { color: #404070 }
table.list td a[href].header       { color: #404070 }

table.list td a[href]:hover.done   { color: green }
table.list td a[href]:link.done    { color: green }
table.list td a[href].done         { color: green }

table.list td a[href]:hover.todo   { color: red; font-style:italic; }
table.list td a[href]:link.todo    { color: red; font-style:italic; }
table.list td a[href].todo         { color: red; font-style:italic; }

table.list td.subhead a[href]:hover { font-weight: normal }
table.list td.subhead a[href]:link  { font-weight: normal }
table.list td.subhead a[href]       { font-weight: normal }

table.list td.subhead a[href]:hover.header { font-weight: bold }
table.list td.subhead a[href]:link.header  { font-weight: bold }
table.list td.subhead a[href].header       { font-weight: bold }

/* style for message displays */
table.messages {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.messages th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.messages th {
  font-weight: bold;
  color: black;
  text-align: left;
  border-bottom: 1px solid #afafaf;
}

table.messages th a[href]:hover.header { color: black }
table.messages th a[href]:link.header  { color: black }
table.messages th a[href].header       { color: black }

table.messages th a[href]:hover { color: #333 }
table.messages th a[href]:link  { color: #333 }
table.messages th a[href]       { color: #333 }


table.messages th.header a[href]:hover { color: #707040; }
table.messages th.header a[href]:link  { color: #707040; }
table.messages th.header a[href]       { color: #707040; }

table.messages th a[href]:hover.external { color: green }
table.messages th a[href]:link.external  { color: green }
table.messages th a[href].external       { color: green }


table.messages td {
  font-family: monospace;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  color: black;
  empty-cells: show;
  border-right: 1px solid #afafaf;
  vertical-align: top;
  padding: 2px 5px 2px 5px;
}

table.messages td:first-child {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
}

/* style for file displays */
table.files {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.files td.content {
  background-color: #efefef;;
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
}

table.files th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.files th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.files td.header {
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
}

table.files td.header a[href] {
  font-weight: bold;
  color: #333;
}

table.files td.header a[href]:hover {
  font-weight: bold;
  color: #333;
}

table.files td.header a[href]:link {
  font-weight: bold;
  color: #333;
}

table.files th a[href]:hover { color: #333 }
table.files th a[href]:link  { color: #333 }
table.files th a[href]       { color: #333 }

table.files td {
  font-family: monospace;
  empty-cells: show;
}

/* style for history displays */
table.history {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.history th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
  font-size: 100%;
}

table.history th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
  font-size: 90%;
}

table.history td {
  font-size: 90%;
  vertical-align: top;
  empty-cells: show;
}


/* style for class list */
table.classlist {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.classlist th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.classlist th {
  font-weight: bold;
  text-align: left;
}


/* style for class help display */
table.classhelp {      /* the table-layout: fixed;        */
  table-layout: fixed; /* compromises quality for speed   */
  overflow: hidden;
  font-size: .9em;
  padding-bottom: 3em;
}

table.classhelp th {
  font-weight: normal;
  text-align: left;
  color: #444;
  background-color: #efefef;
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  text-transform: uppercase;
  vertical-align: middle;
  line-height:1.5em;
}

table.classhelp td {
  vertical-align: middle;
  padding-right: .2em;
  border-bottom: 1px solid #efefef;
  text-align: left;
  empty-cells: show;
  white-space: nowrap;
  vertical-align: middle;
}

table.classhelp tr:hover {
  background-color: #eee;
}

label.classhelp-label {
  cursor: pointer;
}

#classhelp-controls {
  position: fixed;
  display: block;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em;
  border-top: 2px solid #444;
  background-color: #eee;
}

#classhelp-controls input.apply {
  width: 7em;
  font-weight: bold;
  margin-right: 2em;
  margin-left: 2em;
}

#classhelp-controls input.preview {
   margin-right: 3em;
   margin-left: 1em;
}

/* style for "other" displays */
table.otherinfo {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.otherinfo th.header{
  padding-top: 10px;
  border-bottom: 1px solid gray;
  font-weight: bold;
  background-color: white;
  color: #707040;
}

table.otherinfo th {
  border-bottom: 1px solid #afafaf;
  font-weight: bold;
  text-align: left;
}

table.otherinfo th a[href]:hover        { color: #333; }
table.otherinfo th a[href]:link         { color: #333; }
table.otherinfo th a[href]              { color: #333; }

table.otherinfo th.header2 {
  vertical-align: top;
  padding-right: 1em
}

table.timesheet {
  border-collapse: collapse;
  table-layout: fixed;
}
table.timesheet tr {
        height:14.5pt;
}
table.timesheet th {
        background: #FFFF99;
        border: 1.0pt solid windowtext;
        color: black;
        font-family: Arial, sans-serif;
        font-size: 11.0pt;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
}
table.timesheet th.name {
        text-align: left;
        font-weight: 700;
}
table.timesheet td {
        background: white;
        border: 1.0pt solid windowtext;
        border-top:none;
        border-left:none;
        color: black;
        font-family: Arial, sans-serif;
        font-size: 10.0pt;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;
        white-space: nowrap;
        width:19pt;
}
table.timesheet td.absence {
        background:#95B3D7;
}
table.timesheet td.holiday {
        background:#BFBFBF;
}
table.timesheet td.inoffice {
        background:#FFFFFF;
}
table.timesheet td.homeoffice {
        background:#95B3D7;
}
table.timesheet td.name {
        text-align: left;
        font-weight: 700;
        border-left:1.0pt solid windowtext;
        padding-left: 5pt;
        padding-right: 5pt;
        width:none;
}
table.timesheet td a {
        display: block;
        width: 100%;
}
